@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Rajdhani:wght@600&display=swap');
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      
}
a {
      text-decoration: none;
}
nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 40px;
}

.link a {
      font-family: Rajdhani;
      padding: 0px 20px;
}
 
h1{
      font-family: Rajdhani;
      font-size: 40px;
}

.btn{
      border: 1px solid #fff;
      padding: 15px 35px;
      border-radius: 28px;
      color: #6a6969;
     margin-left: 25px;

}
.btn:hover {
      background: none;
      border: 1px solid #fff;
      color: #fff;
}


/* #22195b */

main {
      display: grid;
      grid-template-columns: 4fr 2fr;
      grid-gap: 10px;
      height: 80vh;

}
.bir {
      display: grid;
      grid-template-rows: 4fr 2fr;
      grid-gap: 10px;
      /* background-color: cornflowerblue; */
}
.get {
      background-color: blue;
}
.put {
      display: grid;
      grid-template-columns: 3fr 3fr;
      grid-gap: 10px;
      /* background-color: lightcoral; */
}
.scd {
      background-color: aquamarine;
}
.frst{
      background-color: lime;
}
.ikki {
      display: grid;
      grid-template-rows: 2fr 2fr 2fr;
      grid-gap: 10px;

}
.left {
      background-color: aqua;
}
.top{
      background-color: lightcoral;
}
.bottom {
      background-color: lightgreen;
}